/* .bpmn-icon-task.red {
    color: #cc0000 !important;
} */
/* 定义一个公共的类名 */
.icon-custom {
  border-radius: 50%;
  background-size: 65%;
  background-repeat: no-repeat;
  background-position: center;
}

/* 加上背景图 */
.icon-custom.demo-start {
    background-image: url('../../../assets/start.png');
  }
  .icon-custom.demo-end {
    background-image: url('../../../assets/end.png');
  }
.icon-custom.demo-userTask {
  background-image: url('../../../assets/userTask.png');
}

.icon-custom.demo-exclusiveGateway {
  background-image: url('../../../assets/ExclusiveGateway.png');
}

/* .djs-direct-editing-parent {
    top: 130px!important;
    width: 60px!important;
} */

/* 自定义 contextPad 的触摸样式 */
.djs-context-pad .demo-userTask.entry:hover {
  background: url('../../../assets/userTask.png') center no-repeat !important;
  background-size: 120% !important;
}

.djs-context-pad .demo-end.entry:hover {
    background: url('../../../assets/end.png') center no-repeat !important;
    background-size: 120% !important;
  }

.djs-context-pad .demo-exclusiveGateway.entry:hover {
    background: url('../../../assets/ExclusiveGateway.png') center no-repeat !important;
    background-size: 120% !important;
  }
.djs-context-pad .entry:hover {
  /* 重新修改了 hover 之后的样式 */
  /* border: 1px solid #1890ff; */
}

.djs-context-pad .entry {
  box-sizing: border-box;
  background-size: 120%;
  /* transition: all 0.3s; */
}
